<%- include('../partials/header.ejs') %>

<section class="p-0 container-fluid">
    <img src="\images\complaints.jpg" alt="FAQs" width="100%" height="300px">

    <h1 class="pageDescription2"> <%= pageDescription %> </h1>

</section>


<div class="container-lg page-content">
    <div class="row">

        <div class="col-md-9 col-12">
            <p>Additional information about our complaints process.</p>
            <p>For general complaints about our service, you can contact us through your customer dashboard alert area
                for active investors or registered users. Our employees try to help
                everyone Answer questions.</p>

            <p>If customer service is unable to help you with your concern, you should contact our compliance
                department. Please submit your concerns in writing so that our compliance department can investigate
                your case in detail. The compliance department will deal with your concern objectively and review any
                information collected and any necessary information received. This procedure is used to understand the
                complaint, the individual facts and how they relate to the contractual relationship. Furthermore, it is
                assessed whether we have behaved fairly and whether we have complied with our contractual or other
                obligations. Our full final correspondence will be within two weeks of receiving the complaint.</p>

            <p>Please write by email to: <a href="mailto:helpdesk@bit-minex.com">helpdesk@bit-minex.com</a> <br>
                or by post to:</p>

            <p>4996  Polk Street, <br>Tucson, Arizona <br>85714</p>

            <p>Should you choose to speak directly to a customer assistance representative from anywhere in the world,
                <br>
                Place a call to:</p>

            <p><a href="tel:+1 (402) 665 6470">+1 (402) 665 6470</a></p>

            <p>Should a situation arise that is not covered by the commercial agreement, we will resolve the matter to
                the best of our intentions, fairly and, if applicable, taking into account common market practice. If we
                are unable to resolve a dispute internally, you can also submit a complaint via the European
                Commission's online dispute resolution portal or its American equivalent.</p>


        </div>



        <div class="col-md-3 col-12 text-center">

            <h2>Contact us</h2>
            <hr class="left-hr">

            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>ADDRESS</h4>
                    <p>4996  Polk Street, <br>Tucson, Arizona <br>85714</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>TELEPHONE</h4>
                    <p>+1 (402) 665 6470</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>EMAIL</h4>
                    <p>helpdesk@bit-minex.com</p>
                </div>
            </div>

        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>