<%- include('../partials/header.ejs') %>

<section class="p-0 container-fluid">
    <img src="\images\cookies.jpg" alt="FAQs" width="100%" height="300px">

    <h1 class="pageDescription2"> <%= pageDescription %> </h1>

</section>



<div class="page-content">
    <div class="on-this-page">
        <h5>On this page</h5>
        <a href="#cookies-bitminex">Cookies on BitMinex</a>
        <a href="#cookies-management">Cookie management</a>
        <a href="#privacy">Privacy</a>

    </div>
</div>



<div class="page-content container-md">
    <p style="font-weight: 600; text-align: center">BitMinex respects your privacy and we strive to provide you with the
        necessary information and tools to help you manage cookies.</p>
</div>


<div class="container-lg page-content">
    <div class="row">

        <div class="col-md-9 col-12">

            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="#cookies-bitminex" class="more mb-3">Cookies at BitMinex</h5>

                    <p style="font-weight: 600; text-align: center">What are cookies?</p>

                    <p>Cookies are small text files that are stored on your computer after you visit a website.</p>

                    <p>They are not programs and cannot be executed as code or transmit viruses - instead, cookies act
                        more like a passport that is checked and updated every time you visit a website.
                    </p>

                    <p>Almost every page on the Internet uses cookies. They fulfill the following functions:</p>

                    <ul>
                        <li>Verification of your identity for security purposes</li>
                        <li>Determining the type of browser and the settings you use</li>
                        <li>Allows website operators and third party advertisers to tailor content to your preferences.
                        </li>
                    </ul>


                    <p style="font-weight: 600; text-align: center">Our provisions</p>

                    <p>There are three types of cookies on this page:</p>

                    <p><span style="font-weight: 600">Essential cookies</span> that are necessary for the smooth
                        construction of our website and our platform.
                        If these are deactivated, you will not be able to access the trading platform or other important
                        areas of the website.</p>

                    <p><span style="font-weight: 600">Behavioral / analytical cookies</span> help us to offer you a
                        better, more tailored service. These cookies can adapt the website to your personal preferences
                        and behavior in the past or remember your saved settings.</p>

                    <p><span style="font-weight: 600">Marketing Cookies</span> enable you to see more relevant online
                        content or advertisements tailored to your interests. These can be derived from their activities
                        on our website.</p>

                </div>


                <div class="col-12 col-md-6 p-3">

                    <h5 id="cookies-management" class="more mb-3">Cookie management</h5>

                    <p>You can manage your cookies by changing the settings of your web browser on your PC or tablet. To
                        manage cookies on your smartphone, please refer to the associated manual for help.</p>

                    <ul>
                        <li>Click on the three dots or lines ('Burger Button') next to the browser search bar</li>
                        <li>Select 'Settings'</li>
                        <li>Click on 'Show advanced settings'</li>
                        <li>Navigate to 'Privacy' and click on 'Content Settings'</li>
                        <li>To allow cookies, please select 'Allow local data to be saved (recommended)' in the
                            'Cookies' section. This option allows both first-party and third-party cookies.</li>
                        <li>To only allow cookies from first-party providers, please check the box next to 'Block
                            third-party cookies and website data'</li>
                        <li>To deactivate cookies, please select 'Block data storage for all websites'</li>
                    </ul>

                </div>

            </div>


            <h5 id="privacy" class="more mb-3 text-center">PRIVACY</h5>

            <div class="col-12 p-3 text-center">

                <h5 id="prod-and-serve" class="more mb-3">How do we use your personal information?</h5>

                <p style="font-weight: 600;">We are entitled to use personal data for the following purposes and on the
                    basis of the following legal bases:</p>

                <ul class="brown-style-ul">
                    <li><em>To provide you with products and services or information about our products and services and
                            to
                            review your ongoing needs.</em></li>

                    <p>As soon as you open an account with us, subscribe to updates or register for a webinar, we need
                        your personal data in order to provide our services and to fulfill our obligations to you. It is
                        also our legitimate interest to ensure that we provide you with the best products and services.
                        As a result, we may regularly review your needs to ensure that you
                        are receiving the best possible products and services.</p>

                    <li><em>verify your identity and to create and manage your account.</em> </li>

                    <p>As part of the provision of our services and the provision of information about them, we must
                        verify your identity in order to be able to create you as a customer. We also need this
                        information to effectively manage your account and to ensure that you receive the best possible
                        service from us. This may also include third parties performing credit or identity checks on our
                        behalf. We not only have a legitimate interest in this, but such
                        use of your personal data is also necessary so that we know who you are, especially since we are
                        legally obliged to comply with certain regulatory “Know Your Customer” obligations.</p>

                    <li><em>To improve our products and services, including customer service, and to develop and market
                            new products and services.</em></li>

                    <p>From time to time we may use personal data that we have received from you through your use of the
                        services and / or through customer surveys to improve our products and services. We have a
                        legitimate interest in using your personal information in this way to ensure that we provide you
                        with the best possible products and services and to remain a market leader in our industry.</p>

                    <li><em>To create a profile about you.</em></li>

                    <p>From time to time we may use personal information about you to create profiles about you so that
                        we can get to know you and provide you with the best possible products and services. We may make
                        decisions that affect you, including based on automatic profiling or automatic credit checks,
                        which can affect your ability to use our services.</p>

                    <li><em>To comply with applicable laws, court orders, other actions of the judiciary or the
                            regulations of the competent supervisory authorities.</em></li>

                    <p>It may be that we have to use your personal data in order to comply with applicable laws, court
                        orders or other actions of the judiciary or the regulations of a competent supervisory
                        authority. We do this not only to fulfill our legal obligations, but also because this may be in
                        our legitimate interest </p>

                    <li><em>Data analysis.</em></li>

                    <p>Our websites, apps and emails may contain web beacons or pixel tags or other similar data
                        analysis tools that enable us to track incoming correspondence and count the number of users who
                        have visited our website or opened our correspondence. If your personal data is completely
                        anonymized, we do not need a legal basis, as the information no longer represents personal data.
                        However, if your personal data is not anonymized, we have a legitimate interest in continuously
                        evaluating this personal data in order to ensure that the products and services we offer are
                        relevant to the market</p>

                    <li><em>Marketing through us.</em></li>

                    <p>We may use your personal information to send you marketing communications by email, phone or
                        other agreed form (including social media campaigns) to ensure that you are always up to date on
                        our latest products and services Stand are. If we send you marketing communications, this is
                        done either because we have a legitimate interest in them</p>

                    <li><em>Internal business purposes and record keeping.</em></li>

                    <p>We may need to process your personal data for internal business, research and record keeping
                        purposes. Such processing is in our legitimate interest and is
                        necessary to fulfill our legal obligations. This may also
                        affect the communication that is carried out between you and us with regard to the services we
                        provide to you and our relationship with you. We will also keep records to ensure that you are
                        fulfilling obligations that you have under a contract concluded between you and us</p>

                </ul>


            </div>



        </div>



        <div class="col-md-3 col-12 text-center">

            <h2>Contact us</h2>
            <hr class="left-hr">

            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>ADDRESS</h4>
                    <p>4996  Polk Street, <br>Tucson, Arizona <br>85714</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>TELEPHONE</h4>
                    <p>+1 (402) 665 6470</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>EMAIL</h4>
                    <p>helpdesk@bit-minex.com</p>
                </div>
            </div>

        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>