<%- include('../partials/header.ejs') %>

<section class="p-0 container-fluid">
    <img src="\images\faqs.png" alt="FAQs" width="100%" height="300px">

    <h1 class="pageDescription2"> <%= pageDescription %> </h1>

</section>

<div class="page-content">
    <div class="on-this-page">
        <h5>On this page</h5>
        <a href="#account">account</a>
        <a href="#registration">Registration</a>
        <a href="#deposit&withdrawal">Deposit & Withdrawal</a>
        <a href="#profit&loss">Profit & Loss</a>
        <a href="#support">Support</a>
    </div>
</div>

<section class="container-md py-3">


    <div id="account" class="container-md mb-5">
        <h4 class="my-3">Account</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                        In which currencies can I open an account?
                    </button>
                </h2>
                <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">With BitMinex you can open a live account in any currency but your
                        account displays your currency in USD ($) for global uniformity.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                        How do I fund my account?
                    </button>
                </h2>
                <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can make your first deposit using cryptocurrency (BTC preferrably
                        for ease for global payments), or direct Bank Wire Transfer or through your credit or debit card
                        (if supported from your region).</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                        Is my money secure?
                    </button>
                </h2>
                <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, your money is secure. BitMinex is a licensed and regulated
                        investment company that keeps its clients’ money in separate bank accounts. In addition, we have
                        introduced a compensation scheme as required by our regulator.</div>
                </div>
            </div>
        </div>
    </div>


    <div id="registration" class="container-md mb-5">
        <h4 class="my-3">Registration</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                        How can I start investing with BitMinex?
                    </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Easily sign up for an investment account in 3 steps: <br>
                        <p>View and select from our <a href="/products" class="more" target="_blank">investment
                                offers and opportunities here</a></p>
                        <p><a href="/auth/register" class="more" target="_blank">Complete KYC</a> for an account in
                            3 minutes</p>
                        <p>Fund investment account after registration approval and start earning live.</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                        Why do I have to provide proof of Identity?
                    </button>
                </h2>
                <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">BitMinex’s regulators, CySEC and FCA require us to identify every client
                        who opens an account with us.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                        Do you keep my personal data safe?
                    </button>
                </h2>
                <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">BitMinex guarantees the full protection of your personal information. It
                        is held safe by us and is only shared with our regulator the CySEC and FCA. In no event do we
                        disclose or sell your data to additional parties.</div>
                </div>
            </div>
        </div>
    </div>


    <div id="deposit&withdrawal" class="container-md mb-5">
        <h4 class="my-3">Deposit & Withdrawal</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                        What is the minimum deposit?
                    </button>
                </h2>
                <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The minimum deposit is 300 EUR, 300 USD, 300 GBP for all
                        payment methods, except wire transfer, which has a 1500 USD (or the equivalent in the currency
                        of
                        your location) minimum. However, please note that your investment flexibility depends on the
                        amount you have in your balance.
                        For deposits processed via bank transfers, we only accept deposits that are equal to, or more
                        than &dollar;1500 (or the equivalent in the Base Currency of the Client's Location).</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                        How can I withdraw money from my account?
                    </button>
                </h2>
                <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">For security reasons, we return money by the same payment method you
                        used to fund your account initially. This means, if you used BTC or other cryptocurrency
                        methods, we will credit your crypto wallet with us which you can transfer to any wallets or even
                        convert into your fiat wallet with us; if you use the bank transfer method, we will
                        send your money back to your bank account. If you used a credit/debit card, we will transfer
                        money back to the card you used.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                        How do I change the currency of my account?
                    </button>
                </h2>
                <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Unfortunately, you cannot change the currency of your account but you
                        can add a new currency in your fiat wallet. To do so in the application, please go to
                        Wallet tab, open Wallet Top-up and select your preferred payment currency and method of payment.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="profit&loss" class="container-md mb-5">
        <h4 class="my-3">Profit & Loss</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
                        I don’t have any trading ideas. Can I still invest with BitMinex?
                    </button>
                </h2>
                <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Of course! The core principle of BitMinex is that you do not have to
                        make trades or predictions, our trading experts and algorithms do all the work to guarantee our
                        clients' Return on Investments, and we have a proven track record of loyal clients to prove
                        that. All you have to do is make the decision to invest and then choose any of our investment
                        portfolio best suited to you.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                        Does BitMinex aim to profit from client losses?
                    </button>
                </h2>
                <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">No. Our business model is based on providing individuals with the
                        opportunity to invest the world’s financial markets, in exchange for fair and proportionate
                        transaction fees. It is a well-known fact that trading successfully is difficult, and most
                        speculative traders tend to lose. However, we do not typically benefit from trading losses that
                        an unsuccessful client may experience.

                        Sometimes, a large majority of clients will trade in one direction. When this happens, we will
                        protect our exposure to risk by hedging in the underlying market. For example, if client A and
                        client B buy the DAX, we may buy actual DAX futures. This then covers the amount we will pay out
                        if both clients are successful.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
                        What are BitMinex's investment products?
                    </button>
                </h2>
                <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Initially, we started as a stocks investment company, but over the years we have gained more knowledge and expertise and diversified our investment to cryptocurrencies, foreign exchange and other market commodities like Gold, Silver, Crude Oil to mention but a few. 
                        <a href="/products" class="more">Please visit our products page for more opportunities</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="support" class="container-md mb-5">
        <h4 class="my-3">Support</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
                        Do you provide support?
                    </button>
                </h2>
                <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-heading13"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">We have a team of friendly and considerate support managers, speaking 13
                        languages and ready to answer all your questions on our service. Use helpdesk@bit-minex.com to
                        contact them. We will reply to your email within 24 hours.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
                        Does BitMinex aim to profit from client losses?
                    </button>
                </h2>
                <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading14"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">If you’ve forgotten your password, use the ‘Forgot password?’ link on
                        the login page. Then check your email address associated with your bit-minex.com account for
                        further instructions.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading15">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15">
                        How can I change my password?
                    </button>
                </h2>
                <div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-heading15"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">If you want to change your password, log in to your account, go to
                        Settings, and use the ‘Change password’ option.
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>




<%- include('../partials/footer.ejs') %>