<%- include('../partials/header.ejs') %>

<section class="p-0 container-fluid">
    <img src="\images\products (1).jpg" alt="" width="100%" height="300px">

    <h1 class="pageDescription"><%= pageDescription %> </h1>
</section>

<section class="container-md p-5">

    <p class="text-center">Discover a world of opportunity – with over 17,000 markets, exclusive 24/7 pricing on global
        indices and extended
        hours on over 70 key stocks worldwide.</p>
    <p class="text-center">
        BitMinex has an intuitive, easy-to-use interface with a quick signing up process. It will take you just 3
        minutes to create an account and to delve deeper into the world of smart investments.
    </p>



    <div id="cryptocurrencies" class="py-5 text-center">
        <h2 class="my-3">Cryptocurrencies</h2>
        <p>Cryptocurrencies are digital currency that can be used to buy goods and services, but uses an online ledger
            with
            strong
            cryptography to secure online transactions.</p>
        <p>But why have we at BitMinex taken an interest in these controversial assets? Well you guessed right, it is an
            ASSET! and we at BitMinex value assets because these valuable and never losing market is how we keep our
            investors happy.</p>

        <p>
            We offer a range of plans to foster investments and encourage investors of different income levels.
            Each crypto investment plan spanning a range of investment capital, and specifc guaranteed Return on
            Investment based on invested capital.
        </p>



        <div class="plans row my-4">
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Lite-Miner Plan</div>
                    <ul>
                        <li>Minimum Investment: $300</li>
                        <li>Maximum Investment: $5,000</li>
                        <li>Return on Investment: 10% Weekly</li>
                        <li>Contract Duration: 24 Months (2 Years)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=LITE-MINER PLAN">GET STARTED</a>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Standard-Miner Plan</div>
                    <ul>
                        <li>Minimum Investment: $5,500</li>
                        <li>Maximum Investment: $15,000</li>
                        <li>Return on Investment: 15% Weekly</li>
                        <li>Contract Duration: 12 Months (1 Year)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=STANDARD-MINER PLAN">GET STARTED</a>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Premium-Miner Plan</div>
                    <ul>
                        <li>Minimum Investment: $16,000</li>
                        <li>Maximum Investment: $50,000</li>
                        <li>Return on Investment: 25% Weekly</li>
                        <li>Contract Duration: 24 Months (2 Years)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=PREMIUM-MINER PLAN">GET STARTED</a>
                    </ul>

                </div>
            </div>
        </div>
    </div>



    <div id="forex-cfds" class="py-5 text-center">
        <h2 class="my-3">FOREX CFDs</h2>
        <p>Foreign Exchange and trading is a sector that has been marred by investor failure, trading risks and
            investment companies' default. Which begs the why question.</p>

        <p>Apart from the initial answer that many investment companies operate a fraudulent trading platform which has
            cost a lot of investors millions of dollars, there is also the answer that legitimate investment companies
            allow investors with little or no knowledge on the complex subject to delve into the market without close
            guidance from experts. Mostly in the bid to allow investors have their way or not lose investors</p>

        <p>
            At BitMinex, we do not leave investment to chance and so we have given investors the leverage to allow our experts do the hard work while you watch your investment grow, GUARANTEED!!!
        </p>

        <P>
            All you have to do is select a plan below and run a KYC registration in less than 3 Minutes...
            Our experts will guide you further.
        </P>



        <div class="plans row my-4">
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Beginner FOREX-CFD Plan</div>
                    <ul>
                        <li>Minimum Investment: $100</li>
                        <li>Maximum Investment: $1,000</li>
                        <li>Return on Investment: 1.2% Daily</li>
                        <li>Contract Duration: 24 Weeks</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=BEGINNER FOREX-CFD PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Advanced FOREX-CFD Plan</div>
                    <ul>
                        <li>Minimum Investment: $1,500</li>
                        <li>Maximum Investment: $19,000</li>
                        <li>Return on Investment: 2.5% Daily</li>
                        <li>Contract Duration: 12 Months (1 Year)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=ADVANCED FOREX-CFD PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Elite FOREX-CFD Plan</div>
                    <ul>
                        <li>Minimum Investment: $20,000</li>
                        <li>Maximum Investment: $100,000</li>
                        <li>Return on Investment: 3.5% Daily</li>
                        <li>Contract Duration: 12 Months (1 Year)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=ELITE FOREX-CFD PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
        </div>


    </div>



    <div id="commodities-2" class="py-5 text-center">
        <h2 class="my-3">Commodities & Shares</h2>
        <p>Trade on over 70 stocks and market commodities including APPL GOOGL, AMZN, GOLD, SILVER, to mention but a few, without having to do any of the heavy lifting or having any prerequisite market or investment knowlegde, thereby giving investors a fail-safe, a guarantee on returned investment.</p>


        <p>Our platform also provides a wide range of income-considerate investment plans, making shares and commodities investment available and possible to all, individuals and companies alike.
        <p>
           <a href="/auth/register" class="more">Start investing now</a> or pick a plan below to kick it quick.
        </P>



        <div class="plans row my-4">
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Silver VEST Plan</div>
                    <ul>
                        <li>Minimum Investment: $100</li>
                        <li>Maximum Investment: $1000</li>
                        <li>Return on Investment: 1.2% Daily</li>
                        <li>Contract Duration: 24 Weeks</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=SILVER VEST PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Gold VEST Plan</div>
                    <ul>
                        <li>Minimum Investment: $1500</li>
                        <li>Maximum Investment: $19000</li>
                        <li>Return on Investment: 2.5% Daily</li>
                        <li>Contract Duration: 12 Months (1 Year)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=GOLD VEST PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan-item">
                    <div class="plan-name my-0">Diamond VEST Plan</div>
                    <ul>
                        <li>Minimum Investment: $20000</li>
                        <li>Maximum Investment: $100000</li>
                        <li>Return on Investment: 3.5% Daily</li>
                        <li>Contract Duration: 12 Months (1 Year)</li>
                        <li>Referral Commission: 5% on referred users' first deposits and 1.5% on subsequent.</li>
                        <li class="mb-3">Maintenance Fees: One time 2% of capital</li>
                        <a class="call-act2 pb-2" href="/auth/register?plans=DIAMOND VEST PLAN">GET STARTED</a>
                    </ul>
    
                </div>
            </div>
        </div>


    </div>



    <div id="fiat" class="py-5 text-center">
        <h2 class="my-3">Other Markets</h2>
        <p>Our digital platform also offer multi-crypto and multi fiat investment wallets</p>
        <p>With this, investors no longer need to leave money lagging in fiat banks when they have no immediate use for
            it. Why save your money in banks and watch it lose value over time when you can save it in one of our easy
            to use wallets and watch it grow daily and/or weekly?</p>

        <p>
            What are you waiting for? <a href="/auth/register" class="more">Start saving to grow</a>
        </p>

    </div>




</section>



<section class="p-0 container-fluid">
    <img src="\images\products (2).jpg" alt="" width="100%" height="200px">

    <h3 class="pageDescription2">Feel the clocking ticking? <a href="/auth/register" class="more">Start Your Easy Investment Today</a> </h3>
</section>

<p class="mb-4 text-center"><strong>Still require more assistance or information? <a href="/contact" class="more">We are a click away</a></strong></p>

<img src="\images\in-the-news.JPG" alt="We are in the news" width="100%" oncontextmenu="return false">





<%- include('../partials/footer.ejs') %>