<%- include('../partials/header.ejs') %>

<section class="register">
    <div class="container-lg">

        <div class="register-container">

            <% if (error) { %>
            <h3 class="error"><%= error %></h3>
            <% } else { %>
            <h3 class="successful"><%= success %></h3>
            <% } %>

            <hr class="form-hr">

            <h4 class="text-center my-4" style="color: aliceblue;">What Next?</h4>
            
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="/products" style="color: aliceblue; text-decoration: none">
                        <i class="fa fa-eye fa-3x mb-3" aria-hidden="true"></i>
                        <div class="">
                            <p>View Opportunities</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center">
                    <a href="/" style="color: aliceblue; text-decoration: none">
                        <i class="fa fa-home fa-3x mb-3" aria-hidden="true"></i>
                        <div class="">
                            <p>Bitminex Home</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-4 text-center">
                    <a href="/contact" style="color: aliceblue; text-decoration: none">
                        <i class="fa fa-map-marker fa-3x mb-3" aria-hidden="true"></i>
                        <div class="">
                            <p>Quick Contact</p>
                        </div>
                    </a>
                </div>
            </div>


            <hr class="form-hr">

            <div class="text-light text-center">
                For more information on our products, services and rewards for new investors, <a href="/contact"
                    class="more">talk to our consumer experts</a>
            </div>

            <hr class="form-hr">


            <h4 class="text-center my-4" style="color: aliceblue;">Why BitMinex?</h4>
            <div class="row">
                <div class="col-md-4 text-center" style="color: aliceblue;">
                    <i class="fa fa-shield fa-3x mb-3" aria-hidden="true"></i>
                    <div class="">
                        <p>Secured by ComSec and regulated by FSCS</p>
                    </div>
                </div>

                <div class="col-md-4 text-center" style="color: aliceblue;">
                    <i class="fa fa-check-circle-o fa-3x mb-3" aria-hidden="true"></i>
                    <div class="">
                        <p>No-Risk Investment in over 3000 markets, cryptocurrencies and commodities</p>
                    </div>
                </div>

                <div class="col-md-4 text-center" style="color: aliceblue;">
                    <i class="fa fa-globe fa-3x mb-3" aria-hidden="true"></i>
                    <div class="">
                        <p>High yield investment available to all (individuals & companies)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include('../partials/footer.ejs'); %>