<%- include('../partials/header.ejs') %>

<section class="p-0 container-fluid">
    <img src="\images\terms.jpg" alt="FAQs" width="100%" height="300px">

    <h1 class="pageDescription2"> <%= pageDescription %> </h1>

</section>


<div class="page-content">
    <div class="on-this-page">
        <h5>On this page</h5>
        <a href="#no-advise">No Provision of Investment Advise</a>
        <a href="#limitation">Limitation of Liability</a>
        <a href="#prod-and-serve">Products and Services</a>
        <a href="#clause">Severability Clause</a>
        <a href="#changes">Changes and additions</a>
        <a href="#third-party-offers">Third party offers</a>
        <a href="#copyright">copyright</a>
        <a href="#invest">Invest</a>
        <a href="#termination">Termination</a>
        <a href="#market-data">Market data</a>
        <a href="#messages">Messages</a>
        <a href="#confidentiality">Confidentiality</a>
        <a href="#data-protection">Data protection</a>
    </div>
</div>


<div class="page-content container-md">
    <p style="font-weight: 600;">BitMinex Europe and BitMinex America are the owners and operators of the website accessible under the
            domain name bit-minex.com
            ("this website"). Access to and use of this website are subject to the provisions of these general terms and
            conditions, our contract for difference, as well as all notices, disclaimers or other conditions contained
            on this website (collectively referred to as "General Terms and Conditions"). By using this website, you
            consent to them Accept general terms and conditions.</p>
</div>


<div class="container-lg page-content">
    <div class="row">

        <div class="col-md-9 col-12">

            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="no-advise" class="more mb-3">No provision of investment advice</h5>

                    <p>No personal financial advice or investment advice is provided on this website. The information
                        provided does not take into account the individual character of your investment goals, financial
                        situation or investment needs.</p>

                    <p>It is your responsibility to assess whether the information contained on this website is suitable
                        for your individual investment goals, financial situation or investment needs. You should make
                        this assessment before making any investment decision based on the information contained on this
                        website. You can either do this yourself or you can get the help of an independent financial
                        advisor.</p>

                    <p>The information on this website does not constitute a recommendation to invest in any of the
                        financial products or services offered by BitMinex or an BitMinex group company, unless
                        expressly stated
                        otherwise.</p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="limitation" class="more mb-3">Limitation of Liability</h5>

                    <p>We are in no way liable to the maximum extent permitted by law for any loss or damage that you
                        incur as a result of accessing or using this website or because IG does not provide this
                        website. In the event that we do not provide this website in whole or in part or that problems
                        arise with it, we can, at our option, accept our liability for related negligence, breach of
                        contract or non-compliance with a legal requirement, insofar as liability cannot be excluded by
                        law to the maximum extent permitted by law to the fact that we make the website available again
                        in whole or in part or pay for the complete or partial restoration of the website.</p>

                </div>

            </div>



            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="prod-and-serve" class="more mb-3">Products and services</h5>

                    <p>If products or services are offered on this website, this does not automatically mean that they
                        are provided by BitMinex.</p>

                    <p>The identification or use of products, services, websites or networks of third parties does not
                        imply endorsement of such products, services or websites or networks. This website may give you
                        access to websites and networks posted by persons other than us via a hypertext or another Link
                        provided. We have no responsibility or liability of any kind with respect to any material on any
                        website or network that is not under our direct control. You acknowledge that your access to
                        such other websites or networks via such a link may require us to provide certain information
                    </p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="clause" class="more mb-3">Severability clause</h5>

                    <p>Should a provision of these General Terms and Conditions be wholly or partially ineffective,
                        unenforceable or unlawful under the laws of a state, then this provision shall be deemed void
                        for this country or the corresponding part of this provision shall, if permissible, be partially
                        void. The remaining provisions of the General Terms and Conditions remain in effect and the
                        validity or enforceability of this provision for all other countries remains unaffected. This
                        clause does not apply if a nullity fundamentally changes the nature of the general terms and
                        conditions or is contrary to the public interest.</p>

                </div>

            </div>




            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="changes" class="more mb-3">Changes and additions</h5>

                    <p>These general terms and conditions can be changed by BitMinex at any time and you agree and
                        declare
                        that you will continue to be bound by the general terms and conditions after changes. We will
                        notify you of such changes by posting the revised Terms and Conditions on this website - we will
                        not notify you of these changes separately.</p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="third-party-offers" class="more mb-3">Third party offers</h5>

                    <p>This website may contain references to special offers or advertisements from persons who are not
                        part of the BitMinex group. BitMinex makes no representations or warranties with regard to the
                        quality,
                        correctness, fungibility or suitability for the purpose of the products or services available
                        from these persons, unless these are required by applicable mandatory statutory provisions. If
                        you purchase products or services from such persons, you do so at your own risk. In the event
                        that you purchase products or services from third parties to whom this website refers, you
                        undertake to each member of the IG Group with regard to all liabilities, losses, damages, costs
                        and expenses that arise or arise from such a reference. thus are causally related to hold
                        harmless.</p>

                </div>

            </div>



            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="copyright" class="more mb-3">copyright</h5>

                    <p>All copyrights, rights to databases, trademarks and other intellectual property rights to the
                        content of this website are owned by BitMinex or our licensors. Without the special written
                        consent of
                        BitMinex, with the exception of viewing on your browser and to the extent permitted under law
                        or these General Terms and Conditions, the information contained on this website may not be
                        reproduced or modified in any form or in any way to a third party downloaded, linked, presented
                        to the public, distributed or transmitted.</p>

                    <p>Any third party intellectual property used by us in the content of our website should not be
                        construed as sponsoring, endorsing, or in any way affiliated with us or our business, or making
                        any statement as to the appropriateness of betting on or trading in our products.</p>

                    <p><strong>Unless this is necessary to display the information on this website in your browser, or
                            as far as this is permitted under law or these General Terms and Conditions, no
                            information or content on this website may be reproduced, adapted or uploaded to third
                            parties without our express written consent , linked to them, framed, publicly performed,
                            distributed, or transmitted in any form through any process.</strong></p>

                    <p>Apple, the Apple logo, iPod, iPad, iPod touch, and iTunes are trademarks of Apple Inc.,
                        registered in the United States and other countries. App Store is a service brand of Apple Inc.
                    </p>

                    <p>Android and Chrome are trademarks of Google Inc.</p>

                    <p>BlackBerry® is owned by Research In Motion Limited, registered in the United States and / or
                        other countries. </p>

                    <p>Android and Chrome are trademarks of Google Inc.</p>

                    <p>Windows is a trademark of Microsoft Corporation, registered in the United States and other
                        countries.</p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="invest" class="more mb-3">Invest</h5>

                    <p>This website consists of a public area and a customer area. Customers who have opened an account
                        can access the customer area that contains our internet investment platform. You can open and
                        close
                        various investments with us on the Internet platform. The platform gives you access to your
                        account information including multi-crypto and fioat investment wallets as well as CFDs,
                        Commodities and other features. You can open or close a
                        position by confirming your transaction order in the investment input mask by clicking the
                        TOP-UP or
                        WITHDRAW button. After you have placed an order, an order confirmation appears on the screen.
                        The
                        new position should then be included in your account information.</p>



                    <h5 id="termination" class="more my-3">Termination</h5>

                    <p>BitMinex has the right to withdraw your authorization to use this website if BitMinex, in its
                        sole
                        discretion, determines that you have violated the terms and conditions.</p>

                </div>

            </div>





            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="market-data" class="more mb-3">Market data</h5>

                    <p>Note regarding the market data or information that we or other service providers publish on the
                        website: (a) Such data are purely indicative and we and other such service providers are not
                        responsible or liable for the data or information if it is incorrect or incomplete; (b) we and
                        any such service provider are not responsible or liable for your actions, which you take or do
                        not take based on such data or information; and (c) such data or information comes from us or
                        from other such providers and you are prohibited from forwarding, forwarding, publishing,
                        disclosing or reproducing this data or information in whole or in part to third parties, unless
                        this is required for legal reasons .
                    </p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="messages" class="more mb-3">Messages</h5>

                    <p>bitminex can send notifications to the email address you have given bitminex. It is your
                        responsibility to
                        ensure that you notify bitminex of any change in your email address. A message sent by BitMinex
                        to your
                        email address is deemed to have been delivered at the time it is sent.</p>

                </div>

            </div>




            <div class="row">
                <div class="col-12 col-md-6 p-3">

                    <h5 id="confidentiality" class="more mb-3">Confidentiality</h5>

                    <p>When you open an account with us, you will receive an account number and a password from us. You
                        undertake to keep this information confidential and you should not disclose it to any third
                        party. You acknowledge and agree that all instructions and communications given or made by you
                        or your agent through our website are at your own risk. You authorize us to exercise any
                        instruction that we believe has been given by you or, on your behalf, by any agent or agent whom
                        we have good faith belief to be duly authorized by you, with confidence in its accuracy and full
                        approval by you is binding for you. You acknowledge and agree that we are entitled</p>

                </div>

                <div class="col-12 col-md-6 p-3">

                    <h5 id="data-protection" class="more mb-3">Data protection</h5>

                    <p>We undertake to comply with data protection laws that apply to us, including the Federal Data
                        Protection Act and the General Data Protection Regulation. We also use the personal
                        information you provide in accordance with the provisions of the Difference
                        Agreement.</p>

                </div>

            </div>

        </div>






        <div class="col-md-3 col-12 text-center">

            <h2>Contact us</h2>
            <hr class="left-hr">

            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>ADDRESS</h4>
                    <p>4996  Polk Street, <br>Tucson, Arizona <br>85714</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>TELEPHONE</h4>
                    <p>+1 (402) 665 6470</p>
                </div>
            </div>
            <div class="row mb-5 py-3">
                <div class="col-2">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <h4>EMAIL</h4>
                    <p>helpdesk@bit-minex.com</p>
                </div>
            </div>

        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>