<%- include('../partials/header.ejs') %>

<section class="login">
    <div class="container-fluid">

        <div class="register-container">

            <div class="login-main">
                <% if (errorMessage) { %>
                <h5 class="text-center error"><%= errorMessage %> </h5>
                <% } else { %>
                <h3 class="text-center"><%= pageDescription %> </h3>
                <% } %>

                <hr class="form-hr">

                <form id="login-form" action="/auth/login" method="post">


                    <div class="form-group mb-3">
                        <label for="contactEmail" class="mb-2">Enter Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="contactPhone" class=" mb-2">Enter Password</label>
                        <input type="password" class="form-control form-control-lg" id="password" name="password">
                    </div>

                    <hr class="form-hr">

                    <div class="my-3 text-center" style="color: aliceblue;">
                        <p>Don't have an account yet? <a href="/auth/register" class="more" style="color: #000;">Sign
                                up</a></p>

                        <p><a href="/forget-password" class="more" style="color: #000;">Forgot password</a></p>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="register-btn btn">LOG ME IN</button>
                    </div>

                </form>
            </div>

        </div>

    </div>
</section>


<%- include('../partials/footer.ejs') %>